.powermenu {
    font-family: "Iosevka Nerd Font";
    font-size: 1.5em;
    font-weight: bold;

    button {
        margin: .35em .35em .75em .35em;
    }

    .reboot-btn {
        color: $cyan;
    }
    .logout-btn {
        color: $green;
    }
    .lock-btn {
        color: $magenta
    }
    .shutdown-btn {
        color: $red;
    }
    .power-btn {
        color: $fg;
        font-weight: normal;
    }
}
