.sys-tray-box {
    background-color: $bg;
    border-radius: 20px;
    padding: 2em;

    .first-row {
        .sys-tray-box-left {
            .network {
                background-color: $contrastbg;
                border-radius: 6px;

                .title {
                    color: $fgDim;
                    margin-left: 1em;
                    margin-top: 1em;
                }
            
                .ssid {
                    margin-left: 0.0em;
                    margin-bottom: 0.3em;
                    font-size: 24px;
                    font-weight: bolder;
                }
            }

            .date {
                background-color: $contrastbg;
                border-radius: 6px;
                margin-top: 1em;
            
                .weekday {
                    color: $fgDim;
                    margin-top: 1em;
                    margin-left: 1em;
                }
            
                .monthday {
                    margin-left: 0.0em;
                    margin-bottom: 0.3em;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
    
        .sys-tray-box-right {
            margin: 1em 0em 0em 1.5em;
    
            .ram {
                .ram-progress {
                    background-color: $contrastbg;
                    color: $red;
    
                    .ram-icon {
                        margin: 1em;
                        font-size: 40px;
                        font-family: "Material Icons";
                        color: $red;
                    }
                }
            }
        }
    }

    .second-row {
        margin-top: 1em;

		.music-player {
			margin-top: 0em;
			min-height: 140px;

			.song-art {
                background-color: $contrastbg;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 6px;

				margin-right: 5px;
				min-width: 252px;

				.music-info {
					border-radius: inherit;
					background: linear-gradient(to right, rgba(16, 20, 21, 0.9), transparent);
	
					padding-top: 0em;
					padding-left: 1em;

					.now-playing {
						margin-bottom: -6px;
					}
					.song-title {
						font-size: 16px;
						font-weight: bolder;
					}
					.song-artist, .song-position {
                        color: $fgDim;
					}
					.song-position {
						margin-top: 4.3em;
					}
				}
			}
			
			.song-controls {
                background-color: $contrastbg;
				padding: 0em 1em;
				margin-left: 24px;
				border-radius: 10px;

				button {
					font-family: "Material Icons";
					font-size: 24px;
		
					&:hover {
						color: $accent;
                    }
                }
            }
        }
    }

    .third-row {
        margin-top: 2em;

        .system-info {
            margin: 0em 1em 0em .7em;

            .volume {
                margin: 0.5em -1.5em;

                .volume-icon {
                    margin: 0rem 1rem;
                    font-family: "Material Icons";
                    color: $green;
                    font-size: 26px;
                }
                
                scale trough {
                    background-color: $contrastbg;
                    border-radius: 10px;
                    min-height: .7em;
                    min-width: 19em;
                    margin: 0.5rem 0;
                }
                
                .volbar trough highlight {
                    background-image: linear-gradient(to right, #87c7a1, $green);
                    border-radius: 10px;
                }
            }
            .brightness {
                margin: 0.75em -1.5em;

                .brightness-icon {
                    margin: 0rem 1rem;
                    color: $yellow;
                    font-size: 26px;
                }
                
                scale trough {
                    background-color: $contrastbg;
                    border-radius: 10px;
                    min-height: .7em;
                    min-width: 19em;
                    margin: 0.5rem 0;
                }
                
                .bribar trough highlight {
                    background-image: linear-gradient(to right, #de8f78, $yellow);
                    border-radius: 10px;
                }
            }
            .mic {
                margin: 0.5em -1.5em;

                .mic-icon {
                    margin: 0rem 1rem;
                    font-family: "Material Icons";
                    color: $blue;
                    font-size: 26px;
                }
                
                scale trough {
                    background-color: $contrastbg;
                    border-radius: 10px;
                    min-height: .7em;
                    min-width: 19em;
                    margin: 0.5rem 0;
                }
                
                .micbar trough highlight {
                    background-image: linear-gradient(to right, $blue-desaturated, $blue);
                    border-radius: 10px;
                }
            }
        }
    }
}
