$bg: #181f21;
$contrastbg: #22292b;
$bgSecondary: #22292b;
$bgSecondaryAlt: #988BA2;
$fg: #dadada;
$fgDim: #bdc3c2;
$watermelon: #e06e6e;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #22292b;
$red: #e06e6e;
$blue: #67b0e8;
$cyan: #6da4cd;
$blue-desaturated: #6da4cd;
$magenta: #c47fd5;
$green: #8ccf7e;
$yellow: #e5c76b;
$accent: $blue;
$javacafeMagenta: #c47fd5;
$javacafeBlue: #6da4cd;
